---
import { Image } from 'astro:assets';
---
<section id="sobre-mi" class="py-20 px-6">
  <div class="max-w-4xl mx-auto">
    <h2 class="text-3xl font-semibold mb-6 text-center">Sobre mí</h2>
    <div class="flex flex-col md:flex-row items-center gap-6">
      <!-- <Image
        src="/images/me.jpg"
        alt="Tu foto profesional"
        width={200}
        height={200}
        class="rounded-full shadow-md mx-auto md:mx-0"
        format="webp"
        quality={80}
      /> -->
      <div class="flex flex-col gap-4">
      <p class="leading-relaxed">
        Soy un desarrollador con experiencia en Next.js, React, Astro, Django, Supabase, MongoDB, React Native, Css, Javascript, Python, ExpressJS, Graphql, Docker, SQL, VBA, VBS, Java.
      </p>
      <p class="mt-4 leading-relaxed">
        Me apasiona construir experiencias web rápidas, eficientes y hermosas, prefiero usar herramientas modernas, trabajar con APIs, bases de datos y desplegar en plataformas escalables ya sea hosting dedicado, VPS o nube.
      </p>
      <p class="mt-4 leading-relaxed">
        He construido sitios web para pequeñas y medianas empresas con el fin de agilizar sus procesos así que si estás intentando diseñar algo para internet ya sea webs, aplicaciones móviles, landing pages, o crear tiendas online yo te puedo ayudar.
      </p>
      </div>
    </div>
  </div>
</section>