---
---
<footer class="pb-15 mt-12">
  <div class="max-w-3xl mx-auto px-4 text-center text-blue-600">
    <p>&copy; {new Date().getFullYear()} Michaell Huanca. Todos los derechos reservados.</p>
    <p class="mt-2">Diseñado con Astro + Tailwind.</p>
  </div>
</footer>
