---
---
<section id="hero" class="min-h-screen flex items-center justify-center">
  <div class="text-center px-4">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">Hola, soy Michaell Huanca</h1>
    <p class="text-xl md:text-2xl mb-8">Ingeniero Informático, de Sistemas y Desarrollador Full-Stack / Mobile / DevOps de Lima, Perú. Cuento con gran experiencia en proyectos bastante atractivos.</p>
    <a href="#proyectos" class="px-6 py-3 bg-blue-500 hover:bg-blue-600 rounded-md text-white">
      Ver mis proyectos
    </a>
  </div>
</section>
