---
interface Proyecto {
  nombre: string;
  descripcion: string;
  tecnologias: string[];
  enlace: string;
}
const proyectos: Proyecto[] = [
  {
    nombre: 'App de Avisos, Órdenes y Planes de Trabajo',
    descripcion: 'Aplicación móvil para Android y IOS que extrae data de SAP, la almacena en una base de datos y la hace accesible desde el móvil. Implementación: Scripts python para enviar la data a un endpoint creado en Django REST Framework, que a su vez la guarda en una base de datos PostgreSQL de Supabase. La app móvil está desarrollada en React Native y consume la API para mostrar la información a los usuarios.',
    tecnologias: ['React Native', 'Expo', 'Supabase', 'Django', 'Docker', 'TypeScript', 'Python', 'VBA', 'VBS', 'EAS', 'SAP', 'Render'],
    enlace: 'https://tu-proyecto-nextjs.com'
  },
  {
    nombre: 'Registro e Histórico de Equipos y Materiales',
    descripcion: 'Aplicación web para registrar y consultar equipos y materiales de las subgerencias de transmisión. Implementación: Frontend desarrollado en Next.js con Tailwind CSS para un diseño responsivo y moderno. Backend en NextJS con Node.js que maneja la lógica de negocio y la comunicación con la base de datos en MongoDBAtlas. Se usó JWT para la autenticación segura de usuarios.',
    tecnologias: ['NextJS', 'React', 'Tailwind', 'MongoDB', 'JWT', 'Vercel', 'JavaScript', 'Node.js'],
    enlace: 'https://tu-proyecto-astro.com'
  },
  {
    nombre: 'World Of Training: Web de Entrenamiento',
    descripcion: 'Aplicación web con rutinas de entrenamiento físico personalizadas, seguimiento de progreso, históricos y puntuaciones, tiene salas de chats y planes de suscripción con prueba trial. Implementación: Frontend en NextJS con Tailwind CSS para una experiencia de usuario fluida y atractiva. Backend en Supabase donde se maneja la base de datos, autenticación con OAuth, storage para archivos e imágenes, edge functions para API, y realtime para chats. Se integró Paddle para la gestión de pagos y suscripciones.',
    tecnologias: ['NextJS', 'React', 'Tailwind', 'JavaScript', 'Supabase', 'Vercel', 'Deno', 'Paddle', 'PostgreSQL', 'Websockets', 'OAuth'],
    enlace: 'https://tu-proyecto-django.com'
  },
  {
    nombre: 'Mi web personal',
    descripcion: 'Página web donde adjunto fotografías de mis viajes, proyectos personales, progreso físico y redes sociales. Implementación: Desarrollada en Astro para un rendimiento óptimo y tiempos de carga rápidos. Utiliza Markdown para gestionar el contenido de manera sencilla y Tailwind CSS para un diseño limpio y responsivo.',
    tecnologias: ['Astro', 'Tailwind', 'JavaScript', 'Vercel', 'CSS', 'HTML'],
    enlace: 'https://tu-app-react-native.com'
  },
];
---
<section id="proyectos" class="py-20 px-6 section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-3xl font-semibold mb-8 text-center">Proyectos</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
      {proyectos.map(proj => (
        <div class="flex flex-col gap-y-16">
          <div>
            <h3 class="text-xl font-bold mb-2">{proj.nombre}</h3>
            <div class="flex flex-wrap gap-2 mb-4">
              {proj.tecnologias.map(tech => (
                <span class="border-2 border-r-8 rounded-full px-2 py-1 text-amber-400 font-bold text-xs hover:scale-105 transition-all">{tech}</span>
              ))}
            </div>
            <p class="mb-4 text-sm">{proj.descripcion}</p>
          </div>
          <a href={proj.enlace} target="_blank" class="text-blue-200 hover:underline">
            Ver proyecto →
          </a>
        </div>
      ))}
    </div>
  </div>
</section>

